@{
    ViewData["Title"] = "Index";
}

<h1>View Customer Service Order</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Customer Service Id
            </th>
            <th>
                Invoice Id
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody class="tblServiceOrder">
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            getData();
        })

        function getData() {
            $.ajax({
                url: "https://localhost:7298/api/ServiceOrders",
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = "";
                    console.log(result.data)
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<th scope="row">' + key + '</th>';
                        html += '<th scope="row">' + item.customerServiceId + '</th>';
                        html += '<td scope="row">' + item.invoiceId + '</td>';
                        html += '<td scope="row">' + item.quantity + '</td>';
                        html += '<td scope="row">' + item.totalPrice + '</td>';
                    })
                    $('.tblServiceOrder').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            })
        }
    </script>
}
