<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Sale Management</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add New Sale
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">CustomerServiceId</th>
                    <th class="card-title text-center">Proposal Details</th>
                    <th class="card-title text-center">Total Price</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center">Response Date</th>
                    <th class="card-title text-center">Response By</th>
                    <th class="card-title text-center">Sale Staff</th>
                </tr>
            </thead>
            <tbody class="tblSales">
            </tbody>
        </table>
    </div>
</div>
<div class="modal" id="saleModal" tabindex="-1" aria-labelledby="saleModelLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="saleModalLabel">User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <input type="hidden" id="Id" />
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="1">Customer Service</label>
                            <input type="text" id="CustomerServiceId" name="CustomerServiceId" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="1">Proposal Details</label>
                            <input type="text" id="ProposalDetails" name="ProposalDetails" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="1">Total Price</label>
                            <input type="text" id="TotalPrice" name="TotalPrice" class="form-control" />
                        </div>
                        
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="1">Status</label>
                            <input type="text" id="Status" name="Status" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="1">Response By</label>
                            <input type="text" id="ResponseBy" name="ResponseBy" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <label for="1">Response Date</label>
                            <input type="text" id="ResponseDate" name="ResponseDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="1">Sale Staff</label>
                            <input type="text" id="SaleStaffId" name="SaleStaffId" class="form-control" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            $.ajax({
                url: 'https://localhost:7298/api/Sales',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.customerServiceId + '</td>';
                        html += '<td>' + item.proposalDetails + '</td>';
                        html += '<td>' + item.totalPrice + '</td>';
                        html += '<td>' + item.status + '</td>';
                        html += '<td>' + item.responseDate + '</td>';
                        html += '<td>' + item.responseByNavigation.firstname + ' ' + item.responseByNavigation.firstname '</td>';
                        html += '<td>' + item.saleStaff.firstname + ' ' + item.saleStaff.lastname + '</td>';
                        html += '</tr>';
                    });
                    $('.tblSales').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        $("#btSave").click(function () {
            var formData = new FormData();
            formData.append("CurrencyCode", $("#CurrencyCode").val());
            formData.append("CurrencyName", $("#CurrencyName").val());
            formData.append("NationCode", $("#NationCode").val());

            console.log(formData);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Save", "Currencies")',
                processData: false,
                contentType: false,
                data: formData,
                success: function (result) {
                    if (result.status >= 1) {
                        $('#currencyModal').modal('hide');
                        loadData();
                    }
                    alert(result.message);
                },
                error: function (xhr, error) {
                    console.log(xhr);
                }
            })
        });

        function add() {
            $("#saleModalLabel").html("Add New Sale");
            $('#saleModal').modal('show');
        }
    </script>
}