@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Service Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="tblServices">
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            getData();
        })

        function getData() {
            $.ajax({
                url: "https://localhost:7298/api/Services",
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = "";
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<th scope="row">' + key + '</th>'
                        html += '<td scope="row">' + item.serviceName + '</td>'
                        html += '<td scope="row">' + item.description + '</td>'
                        html += '<td scope="row">' + item.price + '</td>'
                        html += '<td scope="row">' + '<a href="/Services/Details/' + item.id + '">Details</a>' + '</td>'
                    })
                    $('.tblServices').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            })
        }
    </script>
}
