@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.Delivery>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Total Amount</th>
            <th>Payment Received</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Updated By</th>
            <th>Updated Date</th>
            <th>Is Deleted</th>
            <th>Delivery Staff</th>
            <th>Koi Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tblDeliveries">
        <!-- AJAX-loaded content will go here -->
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            loadDeliveries();
        });

        function loadDeliveries() {
            $.ajax({
                url: "https://localhost:7298/api/Deliveries", // Change to your actual API endpoint
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.code + '</td>';
                        html += '<td>' + item.name + '</td>';
                        html += '<td>' + item.phone + '</td>';
                        html += '<td>' + item.address + '</td>';
                        html += '<td>' + item.totalAmount + '</td>';
                        html += '<td>' + item.paymentReceived + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>' + item.updatedBy + '</td>';
                        html += '<td>' + item.updatedDate + '</td>';
                        html += '<td>' + item.isDeleted + '</td>';
                        html += '<td>' + (item.deliveryStaff ? item.deliveryStaff.id : '') + '</td>';
                        html += '<td>' + (item.koiOrder ? item.koiOrder.id : '') + '</td>';
                        html += '<td>  <a href="/Deliveries/Details/' + item.id + '">Details </a></td>';
                        html += '</tr>';
                    });
                    $('.tblDeliveries').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }
    </script>
}