@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoices</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                Payment Amount
            </th>
            <th scope="col">
                Payment Date
            </th>
            <th scope="col">
                CreatedBy
            </th>
            <th scope="col">
                CreatedDate
            </th>
            <th scope="col">
                UpdatedBy
            </th>
            <th scope="col">
                UpdatedDate
            </th>
            <th scope="col">
                IsDeleted
            </th>
            <th scope="col">
                Details
            </th>
            <th scope="col">
                Delete
            </th>
        </tr>
    </thead>
    <tbody class="tblInvoice">
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            getData();
        });
        function getData() {
            $.ajax({
                url: "https://localhost:7298/api/Invoices",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    var html = "";
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.paymentAmount + '</td>';
                        html += '<td>' + item.paymentDate + '</td>';
                        html += '<td>' + item.createdBy + '</td>';
                        html += '<td>' + item.createdDate + '</td>';
                        html += '<td>' + item.updatedBy + '</td>';
                        html += '<td>' + item.updatedDate + '</td>';
                        html += '<td>' + '<a href="/Invoices/Details/' + item.id + '">Details</a>' + '</td>';
                        html += '<td>' + '<a href="/Invoices/Delete/' + item.id + '">Delete</a>' + '</td>';
                        html += '</tr>';
                    });
                    $(".tblInvoice").html(html);
                }
            })
        }
    </script>
}
