@model IEnumerable<KoiOrderingSystemInJapan.Data.Models.DeliveryDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
               Id
            </th>
            <th>
             DeliveryId
            </th>
            <th>
             Name
            </th>
            <th>
             Description
            </th>
            <th>
             CreatedBy
            </th>
            <th>
               CreatedDate
            </th>
            <th>
               UpdatedBy
            </th>
            <th>
                UpdatedDate
            </th>
            <th>
                IsDeleted
            </th>
            <th>
                Note
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tblDeliveryDetail">
    </tbody>
</table>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            getData();
        })

        function getData() {
            $.ajax({
                url: "https://localhost:7298/api/DeliveryDetails",
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = "";
                    $.each(result.data, function (key, item) {

                        console.log(item);
                        html += '<tr>';
                        html += '<th scope="row">' + key + '</th>'
                        html += '<td scope="row">' + item.id + '</td>'
                        html += '<td scope="row">' + item.deliveryId + '</td>'
                        html += '<td scope="row">' + item.name + '</td>'
                        html += '<td scope="row">' + item.description + '</td>'
                        html += '<td scope="row">' + item.createdBy + '</td>'
                        html += '<td scope="row">' + item.createdDate + '</td>'
                        html += '<td scope="row">' + item.updatedBy + '</td>'
                        html += '<td scope="row">' + item.updatedDate + '</td>'
                        html += '<td scope="row">' + item.isDeleted + '</td>'
                        html += '<td scope="row">' + item.note + '</td>'
                        html += '<td scope="row">' + '<a href="/DeliveryDetails/Details/' + item.id + '">Details</a>' + '</td>'
                    })
                    $('.tblDeliveryDetail').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            })
        }
    </script>
}